@inherits StatiqRazorPage<IDocument>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

     @* page title *@
     <title>@Document.GetString("PageTitle")</title>

     @* url path *@
     <link rel="canonical" href="@Document.GetLink(true)">

     @{
        @foreach (IDocument rssFeed in Outputs["**/*.rss"])
        {
        <link type="application/rss+xml" rel="alternate" title="@rssFeed.GetString(WebKeys.Title)" href="@rssFeed.GetLink()" />
        }
        @foreach (IDocument atomFeed in Outputs["**/*.atom"])
        {
        <link type="application/atom+xml" rel="alternate" title="@atomFeed.GetString(WebKeys.Title)" href="@atomFeed.GetLink()" />
        }
    }

   @* SEO meta tags  *@
  <meta name="application-name" content="@Document.GetString("SiteTitle")" />
  <meta name="msapplication-tooltip" content="@Document.GetString("SiteTitle")" />
  <meta name="msapplication-starturl" content="@Context.GetLink("/")" />

  @* TODO: More social graph meta tags *@
  <meta property="og:title" content="@Document.GetString("PageTitle")" />
  @if (Document.ContainsKey(WebKeys.Image))
  {
    <meta property="og:image" content="@Context.GetLink(Document.GetString(WebKeys.Image))" />
  }
  <meta property="og:type" content="website" />
  <meta property="og:url" content="@Document.GetLink(true)" />
  
  <link rel="shortcut icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">
  <link rel="icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">

    @* load tailwind css *@
    <link href="/assets/styles.css" rel="stylesheet" />

      
  <link href="@Context.GetLink("/css/wave.css")" rel="stylesheet">

 
    @* syntax highlighter *@
   <script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/components/prism-core.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/plugins/autoloader/prism-autoloader.min.js" data-no-mirror></script>

  <script src="https://cdn.jsdelivr.net/npm/quicklink@2.0.0/dist/quicklink.umd.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/themes/prism.css">

  @Html.Partial("_head")

  @RenderSection("Head", false)

</head>
    <body class="">

        @* Navigation *@
        @RenderSectionOrPartial("Navigation", "_navigation")

        @* Page Header *@


        @* Main Content *@
        @Model.GetString("Title")
        @RenderBody()

        @* Footer *@
        @RenderSectionOrPartial("Footer", "_footer")

        @* javascript *@

        @* partial scripts *@
        @Html.Partial("_scripts")
        @RenderSection("Scripts", false)

        <script src="@Context.GetLink("/js/navigation.js")"></script>
    </body>
</html>