@model IDocument

@{
    string excerpt = Model.GetString(Statiq.Html.HtmlKeys.Excerpt);
}



<div class="">
    <h2 class="">@Html.DocumentLink(Model)</h2>
    @if(Model.ContainsKey("Lead"))
    {
        <div class="">@Model.GetString("Lead")</div>
    }
    <p class="">Published on @Model.GetDateTime(WebKeys.Published).ToLongDateString()</p>
    @if (!string.IsNullOrEmpty(excerpt))
    {
        @Html.Raw(excerpt)
        <p class=""><a href="@Context.GetLink(Model)">Read more...</a></p>
    }
</div>